.cart-modal {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    padding: 2vw;
    width: 20vw;
    height: 92%;
    transform: translateX(250px);
    transition: 1s;
    overflow: auto;
  }
  
  .open {
    transform: translateX(0);
  }
  
  .cart-modal .cart-list {
    list-style: none;
    color: #444444;
    font-size: .6vw;
  }
  
  .cart-modal .cart-list li {
    margin-bottom: 20px;
  }
  
  h3{
    margin-bottom: 2vw;
    color: rgb(68, 68, 68);
  }

.remove-button{
  color: tomato;
  border: none;
  background-color: white;
}

.brand-and-remove{
  display: flex;
  color: rgb(165, 165, 165);
  justify-content: space-between;
}

.quantity-container{
  border: solid rgb(209, 209, 209) .1vw;
  text-align: center;
  width: 3.5vw;
  padding: .2vw;
  border-radius: .2vw;
  margin-top: .5vw;
  margin-bottom: .5vw;
}

.total{
  display: flex;
  justify-content:space-between ;
}

.total-filler{
  color: transparent;
}

.total-total{
  color: rgb(165, 165, 165);
}

.button-checkout{
    width: 100%;
    height: 2.5vw;
    border: none;
    color: white;
    background-color: tomato;
    margin-top: 1.5vw;
}

.general-price{
  margin-top: 4vw;
  padding-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  color: rgb(68, 68, 68);
  font-size: .7vw;
  border-top: solid rgb(209, 209, 209) .1vw;
}