.purchases{
   padding: 5vw 25vw;
}

.purchase-card{
width: 100%;
border: solid rgb(209, 209, 209) .1vw;
margin-bottom: 3vw;
border-radius: 1vw;
color: #444444;
font-size: .6vw;
}

.purchase-date{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    font-weight: bold;
}

.purchase-data{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-top: solid rgb(209, 209, 209) .1vw;
}

.price{
    font-weight: bold;
}

.quantity{
    text-align: center;
    width: 3.5vw;
    padding: .2vw;
    border-radius: .2vw;
    border: solid rgb(209, 209, 209) .1vw;
}