* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/*---------------------- */

.body{
  display: flex;
  padding-top: 3vw;
  margin-left: 2vw;
}

aside{
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20vw;
}

aside>h5{
  border-bottom: solid rgb(209, 209, 209) .15vw;
  width: 90%;
  margin-bottom: .5vw;
  padding-bottom: .5vw;
  color: rgb(68, 68, 68);
}

aside>button{
  text-align: left;
  border: none;
  background-color: white;
  margin-top: .7vw;
  margin-left: 1vw;
}

/* -------------------- */

main{
  margin-left: 3vw;
  width: 80%;
}

.products-grid{
  padding-top: 3vw;
}

.grid{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.search{
  text-align: center;
} 

.input{
  width: 60%;
  height: 2.7vw;
  padding-left: 1vw;
}

.search-button{
  height: 2.7vw;
  border: none;
  background-color: tomato;
  width: 7vw;
  color:white;
}

.card{
  border-radius: 1vw;
  border: solid rgb(209, 209, 209) .1vw;
  min-width: 90%;
  margin-bottom: 3vw;
  margin-right: 2vw;
}

.link{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(68, 68, 68);
  align-items: center;
  padding-bottom: 2vw;
}

.card-img{
  max-height: 11vw;
  max-width: 18vw;
}

.card-img-container{
  display: flex;
  height: 16vw;
  width: 20vw;
  justify-content: center;
  padding-top: 2vw;
  border-bottom:solid rgb(209, 209, 209) .1vw;
}

.card-text{
width: 80%;
 /*  display: flex;
  flex-direction: column;
  align-items: center; */
  padding-top: 1vw;
}

.card-text>p{
  font-size: 10px;
  color: rgb(165, 165, 165);
  margin-top: 1.5vw;
  margin-bottom: .5vw;
  margin-left: -1vw;
}

footer{
  height: 10vw;
  background-color: rgb(68, 68, 68);
  color: white;
  text-align: center;
  padding-top: 4vw;
  font-size: small;
}